<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <mat-toolbar color="primary">
            <mat-nav-list class="nav-list">
                <div class="img">
                    <img src="../../../assets/img/undraw_pic_profile_re_7g2h.svg" alt="logo-usuario">
                </div>
                <mat-list-item routerLink="/dashboard"><a>Inicio</a></mat-list-item>
                <mat-list-item><a>Usuários</a></mat-list-item>
                <mat-list-item routerLink="/dashboard/clients"><a>Clientes</a></mat-list-item>
                <mat-list-item><a>Investimentos</a></mat-list-item>
                <mat-list-item><a>Configurações</a></mat-list-item>
                <mat-list-item (click)="logout()"><a>Sair</a></mat-list-item>
            </mat-nav-list>
        </mat-toolbar>
    </mat-drawer>

    <mat-drawer-content class="content">
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>