.container {
    height: 100%;
}

.content {
    padding: 30px;
    padding-bottom: 40px;
}

mat-toolbar {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

mat-card {
    padding: 30px;
    height: 93%;
}

mat-nav-list mat-list-item a {
    color: #fff;
}

.img {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}