<div class="main" *ngFor="let item of investments;">

    <div class="investment">
        <p mat-icon-button>
            <i class="material-icons" matTooltip="Investimentos">trending_up</i>
        </p>
        <h3>{{investments.length}}</h3>
    </div>

    <div class="investment">
        <p mat-icon-button>
            <i class="material-icons" matTooltip="Saldo">paid</i>
        </p>
        <h3>{{item }}</h3>
    </div>
</div>

<mat-divider></mat-divider>

<div class="content">
    <h1 class="title">Investimentos</h1>

    <div class="mat-elevation-z8 table">
        <table mat-table [dataSource]="investments">

            <tr mat-header-row *matHeaderRowDef="indices"></tr>
            <tr mat-row *matRowDef="let row; columns: indices;"></tr>


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Saldo </th>
                <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="clientId">
                <th mat-header-cell *matHeaderCellDef> ID Cliente </th>
                <td mat-cell *matCellDef="let row"> {{row.clientId}} </td>
            </ng-container>

            <ng-container matColumnDef="indicadorCarencia">
                <th mat-header-cell *matHeaderCellDef> Indicador de Carência </th>
                <td mat-cell *matCellDef="let row"> {{row.indicadorCarencia}} </td>
            </ng-container>

            <ng-container matColumnDef="stocks">
                <th mat-header-cell *matHeaderCellDef>Ações</th>
                <td mat-cell *matCellDef="let row">{{row.stocks}}</td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Criado Em: </th>
                <td mat-cell *matCellDef="let row">{{row.createdAt | date : "dd/MM/yyyy"}}</td>
            </ng-container>

        </table>
    </div>
</div>