<mat-divider></mat-divider>

<div class="card">
    <div class="cards cardUm">
        <mat-card>
            <mat-card-header>
                <h1>Clientes</h1>
                <mat-divider></mat-divider>
            </mat-card-header>
            <mat-card-content>
                <h3>{{clientAll.length}} clientes cadastrados</h3>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="cards cardDois">
        <mat-card>
            <mat-card-header>
                <h1>Usuários</h1>
                <mat-divider></mat-divider>
            </mat-card-header>
            <mat-card-content>
                <h3>x usuários cadastrados</h3>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="cards cardTres">
        <mat-card>
            <mat-card-header>
                <h1>Investimentos</h1>
            </mat-card-header>
            <mat-card-content>
                <h3>x investimentos</h3>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="cards cardQuatro">
        <mat-card>
            <mat-card-header>
                <h1>Titulo</h1>
            </mat-card-header>
            <mat-card-content>
                <h3>Conteudo aqui</h3>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mat-divider></mat-divider>